<div class="col-span-3 bg-white border">
    <div class="h-72 w-full bg-cyan-400 relative overflow-hidden">
        <img src="./images/products/product_1.jpg" alt=""
             class="w-full h-full object-cover transform translate-y-2/4 translate-x-2/4 -top-1/2 -left-1/2 absolute ">
    </div>
    <div class=" bg-white flex flex-col p-4">
        <div class="w-full block relative" id="emk-skeleton" data-time="500">
            <div class="hidden">
                <h3 class="text-md font-semibold">Don't Spot Me Now</h3>
                <div class="flex justify-between items-center">
                    <div class="block relative ">
                        <p class="text-sm">Blemish Aid Serum</p>
                        <span class="text-sm font-bold">RP. 159.000</span>
                    </div>
                    <div class="relative block shrink-0 flex flex-col">

                        <button type="button"
                                class="text-white text-sm flex items-center  py-2 rounded bg-red-500 truncate px-4">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
