<!-- footer -->
<footer class="px-24 py-16 bg-pink-100">
    <div class="flex">
        <div class="w-2/3 text-indigo-900 space-y-24">
            <!-- footer nav -->
            <div class="space-y-4">
                <h1 class="text-xl font-bold">INFO</h1>
                <div class="flex gap-16">
                    <a href="">
                        <span class="font-normal text-lg">TAVI'S TALE</span>
                    </a>
                    <a href="">
                        <span class="font-normal text-lg">STORES</span>
                    </a>
                    <a href="">
                        <span class="font-normal text-lg">FAQ</span>
                    </a>
                    <a href="">
                        <span class="font-normal text-lg">PRIVACY POLICY</span>
                    </a>
                </div>
            </div>

            <!-- footer social -->
            <div>
                <div class="flex gap-4">
                    <a href="">
                        <div class="w-8 h-8">
                            <img src="./assets/images/svg/icIg.svg" alt="" class="w-full h-full">
                        </div>
                    </a>

                    <a href="">
                        <div class="w-8 h-8">
                            <img src="./assets/images/svg/icYt.svg" alt="" class="w-full h-full">
                        </div>
                    </a>

                    <a href="">
                        <div class="w-8 h-8">
                            <img src="./assets/images/svg/icFb.svg" alt="" class="w-full h-full">
                        </div>
                    </a>
                </div>
                <p class="text-sm">Hak Cipta &copy; Tavi 2020</p>
            </div>
        </div>

        <div class="w-1/3 space-y-8">
            <div>
                <p class="text-4xl text-indigo-900 font-bold">
                    Ya'll Curious Bunch,
                </p>
                <p class="text-4xl text-indigo-900 font-bold">
                    Join Our Community.
                </p>
            </div>

            <div class="flex gap-4">
                <input type="text" class="w-full rounded-full text-indigo-900 bg-blue-200 py-2 px-4 text-xs placeholder-indigo-900 ring-0 border-0 focus:ring-0 focus:border-0" placeholder="Your Email...">
                <button class="text-sm text-white bg-pink-500 px-6 py-1 rounded-full">SUBMIT</button>
            </div>
        </div>
    </div>
</footer>
