<header>
    <div class="bg-scheme_yellow">
        <div class="grid grid-cols-12 py-6 items-center">
            <!-- logo brand -->
            <div class="col-span-3">
                <h1 class="text-3xl text-indigo-900 text-center font-bold">tavi</h1>
            </div>

            <!-- menu nav -->
            <div class="col-span-6">
                <nav class="flex justify-between text-indigo-900 font-regular">
                    <a href="">About Us</a>
                    <a href="">Product</a>
                    <a href="">Skin Scholar</a>
                    <a href="">News</a>
                    <a href="">Skin Quiz</a>
                </nav>
            </div>

            <!-- user nav -->
            <div class="col-span-3 flex justify-center gap-8">
                <div class="flex gap-2">
                    <a href="">
                        <img src="./assets/images/svg/user.svg" alt="" class="w-6 h-6">
                    </a>
                    <a href="">
                        <img src="./assets/images/svg/shopping-bag.svg" alt="" class="w-6 h-6">
                    </a>
                    <a href="">
                        <img src="./assets/images/svg/bell-24.svg" alt="" class="w-6 h-6">
                    </a>
                </div>
                <a href="">
                    <img src="./assets/images/svg/search.svg" alt="" class="w-6 h-6">
                </a>
            </div>
        </div>
    </div>
</header>
